<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Order System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="ad-container" id="adContainer">
        <div class="slider-container">
            <div class="slider">
                <img src="{% static 'images/ad1.jpg' %}" alt="Image 1" class="slide">
                <img src="{% static 'images/ad2.jpg' %}" alt="Image 2" class="slide">
                <img src="{% static 'images/ad3.jpg' %}" alt="Image 3" class="slide">
            </div>
            <button class="skip-button" onclick="goHome()">Go to Order Screen</button>
        </div>
    </div>

    <div class="container">
        <header>
            <img src="{% static 'images/LOGO.png' %}" alt="로고" class="logo">
            <div class="title">키오스크 시스템</div>
<!--            <button class="step-icon">스텝 아이콘</button>-->
        </header>
            <div class="category">
                <button class="category-btn" data-category="all">ALL</button>
                <button class="category-btn" data-category="food">음식</button>
                <button class="category-btn" data-category="drink">음료</button>
                <button class="category-btn" data-category="dessert">디저트</button>
                <button class="category-btn" data-category="etc">기타</button>
            </div>

            <div class="products-grid">
                {% for item in foods %}
                <button class="product-btn" data-category="food" onclick="addToOrder({{ item.id }})">
                    <img src="{% static item.image %}" alt="상품 이미지">
                    <div class="product-name">{{ item.name }}</div>
                    <div class="product-price" data-price="{{ item.price }}">{{ item.price }}원</div>
                </button>
                {% endfor %}

                {% for item in drinks %}
                <button class="product-btn" data-category="drink" onclick="addToOrder({{ item.id }})">
                    <img src="{% static item.image %}" alt="음료 이미지">
                    <div class="product-name">{{ item.name }}</div>
                    <div class="product-price" data-price="{{ item.price }}">{{ item.price }}원</div>
                </button>
                {% endfor %}

                {% for item in desserts %}
                <button class="product-btn" data-category="dessert" onclick="addToOrder({{ item.id }})">
                    <img src="{% static item.image %}" alt="상품 이미지">
                    <div class="product-name">{{ item.name }}</div>
                    <div class="product-price" data-price="{{ item.price }}">{{ item.price }}원</div>
                </button>
                {% endfor %}

                {% for item in etc %}
                <button class="product-btn" data-category="etc" onclick="addToOrder({{ item.id }})">
                    <img src="{% static item.image %}" alt="상품 이미지">
                    <div class="product-name">{{ item.name }}</div>
                    <div class="product-price" data-price="{{ item.price }}">{{ item.price }}원</div>
                </button>
                {% endfor %}
            </div>

        <div class="navigation">
            {% csrf_token %}
            <button type="button" class="nav-btn" onclick="confirmHome()">홈으로</button>
<!--            <button class="nav-btn">다음</button>-->
        </div>
        <div class="order-section">
            <div class="order-details">
<!--                <div class="order-title">주문 내역</div>-->
<!--                <div class="order-content" id="order-content"></div>-->

                <table class="tg" style="table-layout: fixed;" id = "order-list"><colgroup>
                    <col style="width: 5%">
                    <col style="width: 35%">
                    <col style="width: 20%">
                    <col style="width: 40%">
                    </colgroup>
                    <thead>
                      <tr class="tg-vaob">
                        <th></th>
                        <th class="tg-vaob">제품명</th>
                        <th class="tg-vaob">수량</th>
                        <th class="tg-vaob">가격</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="order-info">
                <div class="order-info-item">총 수량: <span id="total_quantity"></span></div>
                <div class="order-info-item">총 금액: <span id="total_price"></span></div>
                <button class="order-btn" onclick="processPayment()">주문 버튼</button>
                <button class="reset-btn" onclick="confirmHome()">초기화</button>
            </div>
        </div>
    </div>
        <div id="paymentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closePaymentModal()">&times;</span>
            <p>결제 금액: <span id="paymentAmount"></span>원</p>
            <button onclick="confirmPayment()">확인</button>
            <button onclick="cancelPayment()">취소</button>
        </div>
    </div>

    <!-- 결제 완료 메시지 -->
    <div id="paymentCompleteMessage" class="modal">
        <div class="modal-content">
            <p>결제가 완료되었습니다.</p>
            <p>상품은 집으로 3-5일 내 배송될 예정입니다.</p>
        </div>
    </div>

<script>
    const confirmHomeUrl = "{% url 'confirm_home' %}";
</script>

<script>
    let currentIndex = 0;
    const slides = document.querySelectorAll('.slide');
    const totalSlides = slides.length;

    document.addEventListener('DOMContentLoaded', function() {
        const categoryButtons = document.querySelectorAll('.category-btn');
        const productButtons = document.querySelectorAll('.product-btn');

        categoryButtons.forEach(button => {
            button.addEventListener('click', function() {
                const category = this.getAttribute('data-category');

                productButtons.forEach(product => {
                    if (category === 'all') {
                        product.style.display = 'block';
                    } else if (product.getAttribute('data-category') === category) {
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            });
        });
    });

    function showSlide(index) {
        slides.forEach((slide, i) => {
<!--            slide.style.transform = `translateX(-${index * 100}%)`;-->
            slide.style.display = i === index ? 'block' : 'none';
        });
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        showSlide(currentIndex);
    }

    setInterval(nextSlide, 2000); // 2초마다 이미지 변경

    function goHome() {
        document.querySelector('.ad-container').style.display = 'none';
        document.querySelector('.container').style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.container').style.display = 'none';
    });

    // 결제 화면을 표시하는 함수
    function processPayment() {
        const totalAmount = document.getElementById('total_price').innerText; // 총 금액 가져오기
        if(totalAmount > '0'){
            document.getElementById('paymentAmount').innerText = totalAmount;
            document.getElementById('paymentModal').style.display = 'block';
        }
    }

    // 결제 확인 후 처리하는 함수
    function confirmPayment() {
        document.getElementById('paymentModal').style.display = 'none'; // 결제 화면 닫기
        document.getElementById('paymentCompleteMessage').style.display = 'block'; // 결제 완료 메시지 표시
        clearOrder(); // 주문 내역 초기화
        setTimeout(() => {
            document.getElementById('paymentCompleteMessage').style.display = 'none'; // 메시지 숨기기
            showAdScreen(); // 광고 화면으로 이동
<!--            goHome(); // 메인 화면으로 이동-->
        }, 3000); // 3초 후 메인 화면으로 이동
    }

    // 결제 모달을 닫는 함수
    function closePaymentModal() {
        document.getElementById('paymentModal').style.display = 'none';
    }

    // 결제 취소 시 처리하는 함수
    function cancelPayment() {
        closePaymentModal(); // 모달 닫기
    }

    // 주문 내역 초기화 함수
    function clearOrder() {
        document.querySelector('#order-list tbody').innerHTML = '';
        document.getElementById('total_quantity').innerText = '0';
        document.getElementById('total_price').innerText = '0';
    }

    // 광고 화면으로 돌아가는 함수
    function showAdScreen() {
        document.querySelector('.container').style.display = 'none';
        document.querySelector('.ad-container').style.display = 'block';
    }

</script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>